.widget-container {
  margin: 10px;
  background-color: gainsboro;
  color: #272727;
  font-family: arial;
  width: 80%;
}

.content {
  text-align: center;
}

input {
  font-size: 12px;
}

.focus {
  width: 300px;
  font-size: 20px;
}
